﻿@model List< Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "RolGoster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>RolGoster</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name - @item.Users.Count</li>
    }
   
</ul>

@Html.ActionLink("Rol Ata", "RolKullaniciEkle", "RolYonetim")