﻿@model webProje_3.odev_.Models.KullaniciRolEkle

@{
    ViewBag.Title = "RolKullaniciEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>RolKullaniciEkle</h2>

@using (Html.BeginForm("RolKullaniciEkle", "RolYonetim", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-2 control-label">Kullanıcı Adı</label>
                    <div class="col-sm-10">
                     
                        @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control" })

                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-2 control-label">Role Adı</label>
                    <div class="col-sm-10">

                        @Html.TextBoxFor(m => m.RolAdi, new { @class = "form-control" })

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-center">
                            <input type="submit" value="Kaydet" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
