﻿
@{
    ViewBag.Title = "Ainceleme";
}
@model webProje_3.odev_.Controllers.AnaSayfaDTO
<h2>Araba İncelemeleri</h2>


<div class="col-md-3">
    <div class="panel panel-default panel-default">
        <div class="panel-heading">Markalar</div>
        <div class="panel-body">
            <table>
               @foreach (var item in Model.model)
               {
                <tr>
                    <td width="100">
                        <a href="/Home/ModelInceleme?Id=@item.ModelID" >@item.Model1</a>
                    </td>

                </tr>
               } 
            </table>

        </div>
    </div>
</div>

