﻿

<!DOCTYPE html>
@model webProje_3.odev_.Controllers.AnaSayfaDTO
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>incelemeGoster</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 padTop10">
                <div class="panel panel-default">
                      @foreach (var item in Model.inceleme)
                      {
                        <div class="panel-heading">
                            <h4>@item.Baslik</h4>
                        </div>
                        <div class="panel-body">
                            <img class="img-responsive baslikResim" src="data:image/png;base64,@System.Convert.ToBase64String(item.BaslikResim)" alt="@item.BaslikResim">
                            @foreach (var item2 in Model.kayitKn)
                            {
                                <br /><br />
                                <div class="col-md-12 padTop10">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-md-2">
                                               @if (item2.ResimSol!=null)
                                               { 
                                             
                                                <img class="img-responsive konumResim" src="data:image/png;base64,@System.Convert.ToBase64String(item2.ResimSol)" alt="@item2.ResimSol">
                                               }
                                            </div>

                                            <div class="col-md-8">
                                                <p>@item2.Yazi</p>
                                            </div>

                                            <div class="col-md-2">
                                                @if (item2.ResimSag != null)
                                                {
                                                <img class="img-responsive konumResim" src="data:image/png;base64,@System.Convert.ToBase64String(item2.ResimSag)" alt="@item2.ResimSag">
                                                }
                                            </div>
                                          </div>
                                     </div>
                                </div>
                             }
                           </div>
                            }

                </div>
            </div>
        </div>
    </div>
</body>
</html>
