﻿
@{
    ViewBag.Title = "Kyorum";
}
@model webProje_3.odev_.Controllers.AnaSayfaDTO
<h2>Kullanıcı Yorumları</h2>
<p class="help-block">Bu kısım kullanıcıların yorumlarından olusmaktadır dogrulugunun garantisi sitemize ait degildir</p>
<div class="col-md-3">
    <div class="panel panel-default panel-default">
        <div class="panel-heading">Markalar</div>
        <div class="panel-body">
            <table>
@foreach (var item in Model.model)
{ 
                <tr>
                    <td width="100">
                        <a href="/Home/YorumGoster?Id=@item.ModelID">@item.Model1</a>
                    </td>
                   
                </tr>
} 
            </table>

        </div>
    </div>
</div>