﻿
@model webProje_3.odev_.Controllers.AnaSayfaDTO
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModelInceleme</title>
</head>
<body>
    <div class="row">
        <div class="col-md-8 padTop10">
            @foreach (var item in Model.inceleme)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="main-list-post clearfix">
                            @if (item.BaslikResim == null)
                            {
                                <div class="main-list-main">
                                    <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" />
                                </div>
                            }
                            else
                            {
                                <div class="main-list-main">
                                    <img class="img-responsive konumResim" src="data:image/png;base64,@System.Convert.ToBase64String(item.BaslikResim)" alt="@item.BaslikResim">
                                </div>
                            }

                            <div class="main-list-details">
                                <h5 class="main-list-title"><a href="#">@item.Baslik</a></h5>
                                <p class="help-block"><i class="glyphicon glyphicon-user">:Burak DÜZ</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-calendar">:@item.GonderiTarih</i></p>
                                <p class="main-list-meta small-text"><span>@item.Baslik 'ın tarafımızca yapılan incelemesini görmek icin devam link ine tıklayın</span> <span><a href="/Home/incelemeIndex?Id=@item.IncelemeID">Devamı..</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</body>
</html>
