﻿
@model webProje_3.odev_.Controllers.AnaSayfaDTO
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YorumGoster</title>
</head>
<body>
    <div> 
        @foreach (var item in Model.kYorum)
        {
            <p>@item.KullaniciAdi</p>
            <br />
            <p>@item.Kyorum</p>
        }
    </div>
</body>
</html>
