﻿


@model webProje_3.odev_.Models.kullaniciYorum
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yorum Ekle</title>
</head>
<body>
    @using (Html.BeginForm("YorumEkle", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {

        <div class="row">
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Adınız</label>
                        <div class="col-sm-10">
                            @*@Html.TextBoxFor(m => m.Duyuru, new { @class = "form-control" })*@
                            @Html.TextAreaFor(m => m.KullaniciAdi, new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Açıklama</label>
                        <div class="col-sm-10">
                            @*@Html.TextBoxFor(m => m.Duyuru, new { @class = "form-control" })*@
                          @Html.TextAreaFor(m=>m.Kyorum,new { @class="form-control"})

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Model</label>
                        <div class="col-sm-10">
                            @*@Html.TextBoxFor(m => m.Duyuru, new { @class = "form-control" })*@
                            @Html.TextBoxFor(m => m.ModelID, new { @class = "form-control" })

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-center">
                                <input type="submit" value="Kaydet" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</body>
</html>
