﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Yönetici Başvurusu", "Ybasvuru", "Home")</li>
                    <li>@Html.ActionLink("Kullanıcı Yorumları", "Kyorum", "Home")</li>
                    <li>@Html.ActionLink("Araç İnceleme", "Ainceleme", "Home")</li>
                </ul>
                <div class="nav navbar-nav navbar-right col-md-4">
                    <div class="col-md-2  padTop10">
                        <div class="dropdown">
                       
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                         
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="/Home/IndexEn">EN</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <footer>
        <div class="row well">
            <div class="container">
                <div class="col-md-9 text-info">
                    <strong>Copyright &copy; Burak DÜZ</strong>
                </div>
                <div class="col-md-3">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>

                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
