﻿
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Index</h2>

@model webProje_3.odev_.Controllers.AnaSayfaDTO
<div class="row">
    <div class="col-md-8 padTop10">
        <!--ANA KISIM-->
        @foreach (var item in Model.inceleme.Take(10))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="main-list-post clearfix">
                        @if (item.BaslikResim == null)
                        {
                            <div class="main-list-main">
                                <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" />
                            </div>
                        }
                        else
                        {
                            <div class="main-list-main">
                                <img class="img-responsive konumResim" src="data:image/png;base64,@System.Convert.ToBase64String(item.BaslikResim)" alt="@item.BaslikResim">
                            </div>
                        }

                        <div class="main-list-details">
                            <h5 class="main-list-title"><a href="#">@item.Baslik</a></h5>
                            <p class="help-block"><i class="glyphicon glyphicon-user">:Burak DÜZ</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-calendar">:@item.GonderiTarih</i></p>
                            <p class="main-list-meta small-text"><span>@item.Baslik 'ın tarafımızca yapılan incelemesini görmek icin devam link ine tıklayın</span> <span><a href="/Home/incelemeIndex?Id=@item.IncelemeID">Devamı..</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
        }
        @*<div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="main-list-post clearfix">
                            <div class="main-list-main">
                                <a href="#"><img src="~/img/corolla.jpg" alt=""></a>
                            </div>
                            <div class="main-list-details">
                                <h5 class="main-list-title"><a href="#">Toyota Corolla</a></h5>
                                <p class="help-block"><i class="glyphicon glyphicon-user">:Burak DÜZ</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-calendar">:22.10.2016</i></p>
                                <p class="main-list-meta small-text"><span>toyota corolla iste sürüklenip gider gider de gider dümdüz gider dere tepe gider gider iste giddi giddi durdu durmadı gitti...</span> <span><a href="#">Devamı..</a></span></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>*@

        <!--Burda bitiyo-->
    </div>

    <div class="col-md-4 padTop10">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Duyuru Kısmı</h4>
                </div>
                @foreach (var item in Model.adminDuyuru)
                {

                    if (item.Duyuru == null)
                    {
                        <div class="panel-body">
                            <p>
                                Duyuru bulunmamakta
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="panel-body">
                            <p>
                                @item.Duyuru
                            </p>
                        </div>
                    }

                }
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">En Popüler 5 inceleme</div>
                <div class="panel-body">
                    @*<div class="main-list-post clearfix">
                            <div class="main-list-thumb">
                                <a href="main-single.html"><img src="~/img/corolla.jpg" alt=""></a>
                            </div>
                            <div class="main-list-details">
                                <h5 class="main-list-title"><a href="#">Toyota Corolla</a></h5>
                                <p class="main-list-meta small-text"><span>toyota corolla iste sürüklenip gider...</span> <span><a href="#">Devamı..</a></span></p>
                            </div>
                        </div>*@
                    @*Model.Product.Where(m=> m.CategoryID= category.CategoryID*@
                    @foreach (var item in Model.inceleme.OrderByDescending(m => m.TiklamaSayisi).Take(5))
                    {
                        <div class="main-list-post clearfix">
                            <div class="main-list-thumb">
                                @if (item.BaslikResim == null)
                                {

                                    <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" />

                                }
                                else
                                {

                                    <img class="img-responsive konumResim" src="data:image/png;base64,@System.Convert.ToBase64String(item.BaslikResim)" alt="@item.BaslikResim">

                                }
                            </div>
                            <div class="main-list-details">
                                <h5 class="main-list-title"><a href="#">@item.Baslik</a></h5>
                                <p class="main-list-meta small-text"><span>@item.Baslik ...</span> <span><a href="/Home/incelemeIndex?Id=@item.IncelemeID">Devamı..</a></span></p>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</div>
        
