﻿
@{
    ViewBag.Title = "ArabaInceleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ArabaInceleme</h2>
@model List<webProje_3.odev_.Models.inceleme>


<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>İncelemeler</h4>
            <a href="/Admin/IncelemeEkle" class="btn btn-success btn-sm tooltips pull-right" title="Yeni İnceleme" style="margin-top:-33px;">Yeni İnceleme</a>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Fotoğraf</th>
                        <th class="col-md-9">Başlık</th>
                        <th class="col-md-2">Tarih</th>
                       
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.BaslikResim == null)
                            {
                                <td><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></td>
                            }
                            else
                            {
                                <td>
                                    <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.BaslikResim)" />
                                </td>
                            }
                            <td>@item.Baslik</td>
                            <td>@String.Format("{0:d}", @item.GonderiTarih)</td>
                            <td><a href="/Admin/IncelemeSil?iID=@item.IncelemeID" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>
                          @* <td>@Html.ActionLink("Sil", "/BlogSil", new { BlogID = item.ID }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>