﻿
@{
    ViewBag.Title = "Duyuru";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<webProje_3.odev_.Models.adminDuyuru>
<h2>Duyuru</h2>
<a href="/Admin/DuyuruEkle" data-toggle="tooltip modal" data-width="4" data-title="Yeni Duyuru" data-function="CloseModal" class="btn btn-success btn-sm tooltips pull-right" style="margin-top:6px;" title="Yeni Duyuru"><i class="fa fa-plus">&nbsp;&nbsp; Yeni Duyuru</i></a>
<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">ID</th>
                        <th class="col-md-7">Duyuru</th>
                        <th class="col-md-3">Tarih</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DuyuruID</td>
                            @if (item.Duyuru == null)
                            {
                                <td><p>duyuru yok</p></td>
                            }
                            else
                            {
                                <td>
                                   <p>@item.Duyuru</p>
                                </td>
                            }
                            
                            <td>@String.Format("{0:d}", @item.GonderiTarihi)</td>
                           
                    
    <td><a href="/Admin/DuyuruSil?dID=@item.DuyuruID" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>