﻿
@{
    ViewBag.Title = "DuyuruEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model webProje_3.odev_.Models.adminDuyuru
<h2>DuyuruEkle</h2>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("DuyuruEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {

            <div class="row">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Açıklama</label>
                            <div class="col-sm-10">
                                @*@Html.TextBoxFor(m => m.Duyuru, new { @class = "form-control" })*@
                                @Html.TextAreaFor(m=>m.Duyuru, new { @class = "form-control" })
                                
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="btn-toolbar pull-center">
                                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
