﻿
@{
    ViewBag.Title = "IcerikEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model webProje_3.odev_.Models.kayitKn
@*@model List<webProje_3.odev_.Models.inceleme>
<h2>IcerikEkle</h2>
    *@
   @*@foreach (var item in Model)
   {
    <h2>
        @item.IncelemeID
    </h2>
   }*@

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("IcerikEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Sol Fotoğraf</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="fileSol" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">İçerik</label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(m => m.Yazi, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Sağ Fotoğraf</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="fileSag" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Kaydet" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <li>@Html.ActionLink("BİTİR", "IcerikBitir", "Admin")</li>
    </div>
</div>
   