﻿
@{
    ViewBag.Title = "IncelemeEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model webProje_3.odev_.Models.inceleme

<h2>IncelemeEkle</h2>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("IncelemeEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Fotoğraf</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Başlık</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.Baslik, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Model</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.ModelID, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Kaydet" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
     </div>
</div>